extends video_layout

block content
  h1 #{title}
  
  p #[strong Player name:] #{booking.playername}

  p #[strong Con Title:] #{booking.con.title}

  p #[strong Game Title:] #{booking.game.title}

  p #[strong Con Date:] #{booking.con.date_formatted}

  //p #[strong Delete Password:] #{booking.deletepassword}



  p Do you really want to delete this Booking?

  form(method='POST' action='')
    div.form-group
      input#bookingid.form-control(type='hidden',name='bookingid', required='true', value=booking._id )
    div.form-group
      label(for='deletepassword') Delete password for signup deletion:
      input#deletepassword.form-control(type='text' placeholder='defaults to empty string' name='deletepassword' required='true' )


      button.btn.btn-primary(type='submit') Delete

  if errors
    ul
      for error in errors
        li!= error.msg
