extends video_layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      p Games that are allready booked full:
      ul 
        each game in game_list_full
          li
            em #{game.title} (#{game.bookings.length} / #{game.max_players} )
        else 
          li The are no fully booked games yet.


        
    div.form-group
      label(for='game') Available games with space left:
      select#game.form-control(type='select' placeholder='Select game' name='game' required='true')
        - game_list_space.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for game in game_list_space
          option(value=game._id, selected=(selected_game==game._id.toString() ? 'selected' : false) ) #{game.title}

    div.form-group
      label(for='playername') Player name:
      input#playername.form-control(type='text' placeholder='playername here' name='playername' required='true' value=(undefined===booking ? '' : booking.playername))

    div.form-group
      label(for='deletepassword') Optional delete password for signup deletion:
      input#deletepassword.form-control(type='text' placeholder='If you get sick etc good reason' name='deletepassword' required='false' value=(undefined===booking ? 'swordfish' : booking.deletepassword))


    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
