extends video_layout

block content
  h1= title

  ul
    each con in con_list
      li
        a(href=con.url) #[strong Con:] #{con.title}
        p #[strong Date:] #{con.date_formatted} 
        p #[strong Description:] #{con.description} 

    else
      li There are no cons.
