extends video_layout



block content

  <script src="/javascripts/fillTextArea.js" defer></script>

  h1= page_title
  <p hidden id="valueForTextField">#{con.description}</p>

  p #[strong title:] #{con.title}
  p #[strong description:] #{con.description}
  p #[strong date:] #{con.date}
  p #[strong time:] #{con.time}
  p #[strong earliest_start_time:] #{con.earliest_start_time}
  p #[strong delete password:] #{con.deletepassword}

  form(method='POST' action='')

    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='title' name='title' required='true' value=(undefined===con ? '' : con.title) )


    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', rows='2', minlength='80' placeholder='description' name='description' required='true' value=(undefined===con ? '' : con.description) )

    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date', placeholder='date' name='date' required='true' value=(undefined===con ? '15:00' : con.date) )


    div.form-group
      label(for='time') Time:
      input#time.form-control(type='time', placeholder='time' name='time' required='true' value=(undefined===con ? '15:00' : con.time) )
    
    div.form-group
      label(for='deletepassword') Delete password for game deletion:
      input#deletepassword.form-control(type='text' placeholder='If you get sick etc good reason' name='deletepassword' required='false' value=(undefined===con ? 'swordfish' : con.deletepassword))



    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
    p received con values: #{con.title} #{con.description} #{con.date} #{con.time} 
