extends video_layout

block content
  h1 Title: #{con.title}

  p #[strong description:] #{con.description}
  p #[strong start_time:] #{con.start_time}
  p #[strong end_time:] #{con.end_time}
  p #[strong Games:]
    each val, index in con.games      
      a(href=val.url) #{val.title}
      if index < con.games.length - 1
        |,
  a(href='/con/game/create') Create a new game

