extends video_layout

block content

  h1= page_title

  form(method='POST' action='')

    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='title' name='title' required='true' value=(undefined===title ? '' : con.title) )


    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===game ? '' : con.description}

    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date', placeholder='date' name='date' required='true' value=(undefined===date ? '15:00' : con.date) )


    div.form-group
      label(for='time') Time:
      input#time.form-control(type='time', placeholder='time' name='time' required='true' value=(undefined===time ? '15:00' : con.time) )



    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
    p received con values: #{con.title} #{con.description} #{con.date} #{con.time}
