extends video_layout

block content
  h1 Title: #{con.title}


  p #[strong description:] #{con.description}
  p #[strong date:] #{con.date}
  p #[strong time:] #{con.time}
  p #[strong Delete Password:] #{con.deletepassword}

  a(href=con.url+'/delete') Delete this con
  


