extends video_layout

block content
  h1= title

  ul
    
    each game in game_list
      li
        a(href=game.url) <h3> #{game.title}</h3>
        <p><strong>Con</strong>: #{game.con.title}, #{game.con.date_formatted}</p>    
        <p>#{game.description}</p>
        <p>Peli pelataan #{game.min_players} – #{game.max_players} pelaajalla.</p>
        <p><strong>ilmoittautumisia:</strong> ( #{game.bookings.length} / #{game.max_players} ) </p>
        <p><strong>ilmoittautuneet:</strong> 
            each player, index in game.bookings
                <em> #{player.playername}  
                if index < game.bookings.length - 1
                    |,                    
                </em>            
        </p>

    else
      li There are no games.
