extends video_layout

block content
  h1 Title: #{title}

  p #[strong game title:] #{game.title}
  p #[strong max_players:] #{game.max_players}
  p #[strong min_players:] #{game.min_players}
  p #[strong description:] #{game.description}
  p #[strong start_time:] #{game.start_time}
  p #[strong end_time:] #{game.end_time}
  p #[strong Delete Password:] #{game.deletepassword}

  p
    a(href='/con/booking/create') Sign up to a game

  
  a(href=game.url+'/delete') Delete this game with ID: #{game._id}.  
