extends video_layout

block content
  h1 Title: #{game.title}

  p #[strong max_players:] #{game.max_players}
  p #[strong min_players:] #{game.min_players}
  p #[strong description:] #{game.description}
  p #[strong Bookings:]
    each val, index in game.bookings      
      a(href=val.url) #{val.game}: #{val.playername}
      if index < book.genre.length - 1
        |,
  a(href=game.url+'/con/booking/create') Create new booking

