extends layout

block content
  h1= title

  ul
    each game in game_list
      li
        a(href=game.url) <h3> #{game.title}</h3>
        
        <p>#{game.description}</p>
        <p>Peli pelataan #{game.min_players} – #{game.max_players} pelaajalla.</p>
        <p>ilmoittautumisia: ( #{game.bookings.length} / #{game.max_players} ) </p>
        <p>ilmoittautuneet: 
            each player, index in game.bookings
                <em> #{player.playername}  
                if index < game.bookings.length - 1
                    |,                    
                </em>            
        </p>

    else
      li There are no games.
