extends video_layout

block content
  h1 #{title}
  
  p #[strong Game name:] #{game.title}

  p #[strong Con Title:] #{game.con.title}

  p #[strong Game Date:] #{game.con.date_formatted}

  p Do you really want to delete this Game? This will also delete all bookings for this game.

    ul
        each val in game.bookings
            li
                a(href=val.url) link to booking
                p #[strong Playername:]#{val.playername} 
                p #[strong Con:]#{val.con} 

        else
            li There are no bookings for this game.


  form(method='POST' action='')
    div.form-group
      input#gameid.form-control(type='hidden',name='gameid', required='true', value=game._id )
      button.btn.btn-primary(type='submit') Delete
