extends video_layout

block content
  h2= title
  p Con planner is a digital chalk board for managing #[em Con]-game bookings with nicknames. The five steps below are for con organizers. If you are a player, just see steps #[strong 3] to sing-up for game and #[strong 4] to track your game.
  ol 
    li 
      a(href="/con/con/create") Create a new con / event 
      | by selecting date and time and giving it a name and description.      
    
    li 
      p Let your game masters <a href="/con/game/create">create a new games</a> for that con / event.
    
    li 
      a(href="/con/booking/create") Let your players sign up to those games 
    
    li Track game participitation from <a href="/con/games">game lists</a> as your game approaches. You can see nicknames and game filling statuses from the game list.
    li After the con is over, <a href="/con/cons">delete</a> the con and all games and participitations will be deleted as well. Con-specific delete link is available on Con-detail page.


  h2 Current cons are listed below
  p 
    ul
      each con in con_list
        li
          a(href=con.url) #[strong Con:] #{con.title}
          p #[strong Date:] #{con.date_formatted} 
          p #[strong Description:] #{con.description} 

      else
        li There are no cons.

  h2 Currently there are

  p The CON-Planner has the following record counts in the database:

  ul
    li #[strong Cons:] !{con_count}
    li #[strong Games:] !{game_count}
    li #[strong Sign ups to a game:] !{booking_count}
