extends video_layout

block content
  h1= title
  p This page is for organizing #[em Con]-participations.
  ol 
    li 
      a(href="/con/con/create") Create a new con / event
      
       
    li Create a new games for that con / event
    li Let your players sign up to those games 
    li Track game participitation from game lists as your game approaches
    li After the con is over, delete the con and all games and participitations will be deleted as well.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
