extends video_layout

block content
  h1= title
  p Con planner is a digital chalk board for managing #[em Con]-game bookings with nicknames.
  ol 
    li 
      a(href="/con/con/create") Create a new con / event       
    
    li 
      a(href="/con/game/create") Create a new games for that con / event
    
    li 
      a(href="/con/booking/create") Let your players sign up to those games 
    
    li Track game participitation from game lists as your game approaches
    li After the con is over, delete the con and all games and participitations will be deleted as well.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
